{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="card text-center">
  <div class="card-header">
    Here is your account informations
  </div>
  <div class="card-body">
    <h5 class="card-title">Name:{{app.user.firstname}} {{app.user.lastname}}</h5>
    <p class="card-text">email: {{app.user.email}} </p>
    <a href={{path('passwordChange')}} class="btn-lg btn-block btn-primary">Change your password</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

{% endblock %}
